html, body {
    height: 100%;

    font-family: sans-serif;
}

body {
    position: relative;

    background-color: #333;
    background-image: radial-gradient(ellipse 45% 45%, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0));
    color: #ccc;

}

.page {
    height: 90%;;
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 0;
    text-align: center;
    font-size: 500%;
    font-size: 15vh;
}

p {
    text-align: center;
    margin: 0;
    font-size: 5vh;
}

h1 a {
    text-decoration: none;
}

.title-primary {
    color: #ddd;
}

.title-secondary {
    color: #9d9;
}

.logo-splash {
    flex: 1;

    background: url(/assets/images/logo-white.svg) center center no-repeat;
    background-size: contain;
    margin: 10px;

    transition: all 0.2s;
}

.logo-splash:hover {
    margin: 0;
}

.abscenter {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
